// .container-consultation {
//     background-image: -webkit-linear-gradient(0deg, #0796c6 0%, #50e590 100%) !important;
// }

.container-consultation {
    background-image: -webkit-linear-gradient(0deg, #50e590 0%, #0796c6 100%) !important;
}


.container-testimonials{
    background-image: url('/images/bg-testimonial.jpg');
    background-size: cover;
}

.container-newsletter {
    background-image: url('/images/bg-newsletter.jpg');
    background-size: cover;
}

input,textarea:focus{
    outline: none;
}



.rec-pagination{
    .vUlQj, .iNpnDY {
        box-shadow: none;
        width: 12px;
        height: 12px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
   }
  .vUlQj{
    background-color: #50e590;
  }
  .iNpnDY{
    background-color: #c2c2c3;
  }
}

.rec-carousel{
    .bqCWu, .iWchow {
        background-color: #0796c6 !important;
        color: #ffffff;
     }
}


.team-notice {
    background-image: -webkit-linear-gradient(0deg, #0796c6 0%, #50e590 100%) !important;
    padding: 60px 0;
    .ticket-notice {
        color: #fff;
        background: #50e590;
        padding: 5px 18px;
        font-size: 16px;
        font-weight: 700;
        margin-right: 18px;
    }
}

.owl-dots {
    .owl-dot span{
        background-color: #c2c2c3 !important;
        width: 12px !important;
        height: 12px !important;
    }
    .active span{
        background-color: #50e590 !important;
    }
} 