// .container-consultation {
//     background-image: -webkit-linear-gradient(0deg, #0796c6 0%, #50e590 100%) !important;
// }

.container-consultation {
    background-image: -webkit-linear-gradient(0deg, #50e590 0%, #0796c6 100%) !important;
}


.container-testimonials{
    background-image: url('/images/bg-testimonial.jpg');
    background-size: cover;
}

.container-newsletter {
    background-image: url('/images/bg-newsletter.jpg');
    background-size: cover;
}

input,textarea:focus{
    outline: none;
}